/**
 *
 * Font Face
 *
 */


@font-face {
    font-family: 'gibson';
    src: url('../fonts/gibson-bold-webfont.woff2') format('woff2'),
         url('../fonts/gibson-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;

}


@font-face {
    font-family: 'gibson';
    src: url('../fonts/gibson-regular-webfont.woff2') format('woff2'),
         url('../fonts/gibson-regular-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;

}