/* Variables */


// Color System
$aqua:    #7FDBFF !default;
$blue:    #0074D9 !default;
$navy:    #001F3F !default;
$teal:    #39CCCC !default;
$green:   #2ECC40 !default;
$olive:   #3D9970 !default;
$lime:    #01FF70 !default;

$yellow:  #FFDC00 !default;
$orange:  #FF851B !default;
$red:     #FF4136 !default;
$fuchsia: #F012BE !default;
$purple:  #B10DC9 !default;
$maroon:  #85144B !default;


// Gray Scale
$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #111111 !default;


// Theme
$accent: #eb1a37;
$accent-nd: #FF851B;
$accent-light: adjust-hue(saturate(lighten($accent, 11%), 12.6%), 14%);
$selectionColor: lighten($accent, 20%);
$textColor: $gray-800;
$headlineColor: $gray-900;
$bgColor: $gray-200;
$border-radius: 4px;


// Typo
$font-family-base : 'canada-type-gibson', sans-serif;
$font-family-serif : 'freight-text-pro',serif;
$font-size: 14px;
$lineHeight: 1.4;


// Grid
$grid-gutter-width: 20px;
$grid-columns: 12;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;
@include _assert-ascending($grid-breakpoints, "$grid-breakpoints");
@include _assert-starts-at-zero($grid-breakpoints);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px
) !default;
@include _assert-ascending($container-max-widths, "$container-max-widths");