---
layout: default
permalink: about/
---

{% include header.html %}

<section class="section-page">
	
	<div class="container">
		<div class="row">
			<div class="col-lg-8 page-wrap">
				<div class="title">
					<h1>About</h1>
					<hr class="short">
				</div>
				<div class="body-copy">					
					<p><img src="{{ "assets/img/bg-about.jpg" | relative_url }}" alt=""></p>
					<p>Kami adalah produsen souvenir dan merchandise, kami menawarkan harga yang terjangkau dengan kualitas terbaik. Kami memproduksi PIN dan gantungan kunci. Selain itu kami juga memproduksi MUG, Pakaian serta berbagai souvenir &amp; merchandise lainnya.</p>
				</div>
			</div>
		</div>
	</div>

</section>

{% include footer.html %}