---
layout: default
permalink: contact/
---

{% include header.html %}

<section class="section-page">
	
	<div class="container">
		<div class="row">
			<div class="col-lg-8 page-wrap">
				<div class="title">
					<h1>Contact</h1>
					<hr class="short">
				</div>			
				<form method="POST" action="//formspree.io/{{ site.email }}">

				  	<fieldset class="contact-info-group">

				    	<label><span>Your Name</span>
				    	<input type="text" name="name"></label>

				    	<label><span>Your Email</span>
				    	<input type="email" name="_replyto"></label>

				  	</fieldset>

				  	<label><span>Message</span>
				  	<textarea name="message"></textarea></label>

				  	<fieldset class="submit-wrap">
				    	<input type="submit" class="btn btn-large" value="SEND">
				  	</fieldset>

				</form>
				<div class="body-copy">		

					<div class="page-info">
						<h4 class="no-m">MORE INFO:</h4>
						<address>
							<strong>Address:</strong> Jl.Dirgantara vi No.76 Perum Bumi Asri, Cijerah - Kota Bandung (40215) <br>
							Email: adiradjapin@gmail.com 
							WA: 0853-6100-5250
						</address>

						<a href="http://whatsapp.adiradjapin.com">Order Now</a>
					</div>
				</div>
			</div>
		</div>
	</div>

</section>

{% include footer.html %}