---
layout: default
permalink: /shop/pin-ganci/
---

{% include header.html %}

<section class="section-shop">
	<div class="container">
		<h1>pin-ganci</h1>

		<div class="row">
			<div class="col-12">
				<div class="lite-title">
					<h4>bahan baku Pin</h4>
				</div>
			</div>
			<div class="col-lg-2 col-sm-6">
				<a href="#" class="item">
					<div class="thumb">
						<img src="{{ "/assets/img/pin_ganci/shop.jpg" | relative_url }}" alt="">
						<span class="cat">Pin</span>
						<div class="overlay"></div>
					</div>
					<div class="name">Plastik 25</div>
					<small class="mb-10">Rp. 50,-</small>
				</a>
			</div>
			<div class="col-lg-2 col-sm-6">
				<a href="#" class="item">
					<div class="thumb">
						<img src="{{ "/assets/img/pin_ganci/shop.jpg" | relative_url }}" alt="">
						<span class="cat">Pin</span>
						<div class="overlay"></div>
					</div>
					<div class="name">Plastik 32</div>
					<small class="mb-10">Rp. 65,-</small>
				</a>
			</div>
			<div class="col-lg-2 col-sm-6">
				<a href="#" class="item">
					<div class="thumb">
						<img src="{{ "/assets/img/pin_ganci/shop.jpg" | relative_url }}" alt="">
						<span class="cat">Pin</span>
						<div class="overlay"></div>
					</div>
					<div class="name">Plastik 44 Hitam</div>
					<small class="mb-10">Rp. 65,-</small>
				</a>
			</div>
			<div class="col-lg-2 col-sm-6">
				<a href="#" class="item">
					<div class="thumb">
						<img src="{{ "/assets/img/pin_ganci/shop.jpg" | relative_url }}" alt="">
						<span class="cat">Pin</span>
						<div class="overlay"></div>
					</div>
					<div class="name">Plastik 58 Hitam</div>
					<small class="mb-10">Rp. 85,-</small>
				</a>
			</div>
			<div class="col-lg-2 col-sm-6">
				<a href="#" class="item">
					<div class="thumb">
						<img src="{{ "/assets/img/pin_ganci/shop.jpg" | relative_url }}" alt="">
						<span class="cat">Pin</span>
						<div class="overlay"></div>
					</div>
					<div class="name">Plastik 44 Putih PP</div>
					<small class="mb-10">Rp. 100,-</small>
				</a>
			</div>
			<div class="col-lg-2 col-sm-6">
				<a href="#" class="item">
					<div class="thumb">
						<img src="{{ "/assets/img/pin_ganci/shop.jpg" | relative_url }}" alt="">
						<span class="cat">Pin</span>
						<div class="overlay"></div>
					</div>
					<div class="name">Plastik 44 Putih HI</div>
					<small class="mb-10">Rp. 130,-</small>
				</a>
			</div>
			<div class="col-lg-2 col-sm-6">
				<a href="#" class="item">
					<div class="thumb">
						<img src="{{ "/assets/img/pin_ganci/shop.jpg" | relative_url }}" alt="">
						<span class="cat">Pin</span>
						<div class="overlay"></div>
					</div>
					<div class="name">Plastik 58 Putih PP</div>
					<small class="mb-10">Rp. 150,-</small>
				</a>
			</div>
			<div class="col-lg-2 col-sm-6">
				<a href="#" class="item">
					<div class="thumb">
						<img src="{{ "/assets/img/pin_ganci/shop.jpg" | relative_url }}" alt="">
						<span class="cat">Pin</span>
						<div class="overlay"></div>
					</div>
					<div class="name">Plastik 58 Putih HI</div>
					<small class="mb-10">Rp. 180,-</small>
				</a>
			</div>
			<div class="col-lg-2 col-sm-6">
				<a href="#" class="item">
					<div class="thumb">
						<img src="{{ "/assets/img/pin_ganci/shop.jpg" | relative_url }}" alt="">
						<span class="cat">Pin</span>
						<div class="overlay"></div>
					</div>
					<div class="name">Plastik 75</div>
					<small class="mb-10">Rp. 270,-</small>
				</a>
			</div>
			<div class="col-lg-2 col-sm-6">
				<a href="#" class="item">
					<div class="thumb">
						<img src="{{ "/assets/img/pin_ganci/shop.jpg" | relative_url }}" alt="">
						<span class="cat">Pin</span>
						<div class="overlay"></div>
					</div>
					<div class="name">Plastik 90</div>
					<small class="mb-10">Rp. 500,-</small>
				</a>
			</div>
		</div>

		<div class="row">
			<div class="col-12">
				<div class="lite-title">
					<h4>bahan baku Ganci</h4>
				</div>
			</div>
			<!-- item -->
			<div class="col-lg-2 col-sm-6">
				<a href="#" class="item">
					<div class="thumb">
						<img src="{{ "/assets/img/pin_ganci/shop.jpg" | relative_url }}" alt="">
						<span class="cat">Ganci</span>
						<div class="overlay"></div>
					</div>
					<div class="name">Plastik 44 Putih PP</div>
					<small class="mb-10">Rp. 130,-</small>
				</a>
			</div>
			<!-- item -->
			<div class="col-lg-2 col-sm-6">
				<a href="#" class="item">
					<div class="thumb">
						<img src="{{ "/assets/img/pin_ganci/shop.jpg" | relative_url }}" alt="">
						<span class="cat">Ganci</span>
						<div class="overlay"></div>
					</div>
					<div class="name">Plastik 44 Putih HI</div>
					<small class="mb-10">Rp. 150,-</small>
				</a>
			</div>
			<!-- item -->
			<div class="col-lg-2 col-sm-6">
				<a href="#" class="item">
					<div class="thumb">
						<img src="{{ "/assets/img/pin_ganci/shop.jpg" | relative_url }}" alt="">
						<span class="cat">Ganci</span>
						<div class="overlay"></div>
					</div>
					<div class="name">Plastik 58 Putih PP</div>
					<small class="mb-10">Rp. 190,-</small>
				</a>
			</div>
			<!-- item -->
			<div class="col-lg-2 col-sm-6">
				<a href="#" class="item">
					<div class="thumb">
						<img src="{{ "/assets/img/pin_ganci/shop.jpg" | relative_url }}" alt="">
						<span class="cat">Ganci</span>
						<div class="overlay"></div>
					</div>
					<div class="name">Plastik 58 Putih HI</div>
					<small class="mb-10">Rp. 200,-</small>
				</a>
			</div>
			<!-- item -->
			<div class="col-lg-2 col-sm-6">
				<a href="#" class="item">
					<div class="thumb">
						<img src="{{ "/assets/img/pin_ganci/shop.jpg" | relative_url }}" alt="">
						<span class="cat">Ganci</span>
						<div class="overlay"></div>
					</div>
					<div class="name">Plastik 44 Putih Buka Botol</div>
					<small class="mb-10">Rp. 130,-</small>
				</a>
			</div>
			<!-- item -->
			<div class="col-lg-2 col-sm-6">
				<a href="#" class="item">
					<div class="thumb">
						<img src="{{ "/assets/img/pin_ganci/shop.jpg" | relative_url }}" alt="">
						<span class="cat">Ganci</span>
						<div class="overlay"></div>
					</div>
					<div class="name">Plastik 44 Putih Buka Botol HI</div>
					<small class="mb-10">Rp. 150,-</small>
				</a>
			</div>
			<!-- item -->
			<div class="col-lg-2 col-sm-6">
				<a href="#" class="item">
					<div class="thumb">
						<img src="{{ "/assets/img/pin_ganci/shop.jpg" | relative_url }}" alt="">
						<span class="cat">Ganci</span>
						<div class="overlay"></div>
					</div>
					<div class="name">Plastik 58 Putih Buka Botol</div>
					<small class="mb-10">Rp. 230,-</small>
				</a>
			</div>
			<!-- item -->
			<div class="col-lg-2 col-sm-6">
				<a href="#" class="item">
					<div class="thumb">
						<img src="{{ "/assets/img/pin_ganci/shop.jpg" | relative_url }}" alt="">
						<span class="cat">Ganci</span>
						<div class="overlay"></div>
					</div>
					<div class="name">Plastik 58 Putih Buka Botol HI</div>
					<small class="mb-10">Rp. 235,-</small>
				</a>
			</div>
			<!-- item -->
			<div class="col-lg-2 col-sm-6">
				<a href="#" class="item">
					<div class="thumb">
						<img src="{{ "/assets/img/pin_ganci/shop.jpg" | relative_url }}" alt="">
						<span class="cat">Ganci</span>
						<div class="overlay"></div>
					</div>
					<div class="name">Plastik 45 Hitam 2 Sisi</div>
					<small class="mb-10">Rp. 85,-</small>
				</a>
			</div>
			<!-- item -->
			<div class="col-lg-2 col-sm-6">
				<a href="#" class="item">
					<div class="thumb">
						<img src="{{ "/assets/img/pin_ganci/shop.jpg" | relative_url }}" alt="">
						<span class="cat">Ganci</span>
						<div class="overlay"></div>
					</div>
					<div class="name">Plastik 45 Putih 2 Sisi</div>
					<small class="mb-10">Rp. 135,-</small>
				</a>
			</div>
			<!-- item -->
			<div class="col-lg-2 col-sm-6">
				<a href="#" class="item">
					<div class="thumb">
						<img src="{{ "/assets/img/pin_ganci/shop.jpg" | relative_url }}" alt="">
						<span class="cat">Ganci</span>
						<div class="overlay"></div>
					</div>
					<div class="name">Plastik 44 Cermin</div>
					<small class="mb-10">Rp. 100,-</small>
				</a>
			</div>
			<!-- item -->
			<div class="col-lg-2 col-sm-6">
				<a href="#" class="item">
					<div class="thumb">
						<img src="{{ "/assets/img/pin_ganci/shop.jpg" | relative_url }}" alt="">
						<span class="cat">Ganci</span>
						<div class="overlay"></div>
					</div>
					<div class="name">Plastik 58 Cermin</div>
					<small class="mb-10">Rp. 130,-</small>
				</a>
			</div>

		</div>
	</div>

	<div class="section-alt">
		<div class="container">
			<h3>Daftar Harga per set</h3>
			<div class="row">
				<div class="col-6">

					<table>
						<thead>
							<tr>
								<th class="big">Product</th>
								<th colspan="2" class="big">Quantity</th>
							</tr>
							<tr>			
								<th>1. PIN</th>
								<th>1000 pcs</th>
								<th>> 1000 pcs</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td data-label="Product">Pin 25</td>
								<td data-label="Qty (1000pcs)">Rp. 230 ,-</td>
								<td data-label="Qty (> 1000pcs)">Call Us</td>
							</tr>
							<tr>
								<td data-label="Product">Pin 35</td>
								<td data-label="Qty (1000pcs)">Rp. 280 ,-</td>
								<td data-label="Qty (> 1000pcs)">Call Us</td>
							</tr>
							<tr>
								<td data-label="Product">Pin 44 Hitam</td>
								<td data-label="Qty (1000pcs)">Rp. 315 ,-</td>
								<td data-label="Qty (> 1000pcs)">Call Us</td>
							</tr>
							<tr>
								<td data-label="Product">Pin 58 Hitam</td>
								<td data-label="Qty (1000pcs)">Rp. 400 ,-</td>
								<td data-label="Qty (> 1000pcs)">Call Us</td>
							</tr>
							<tr>
								<td data-label="Product">Pin 44 Putih</td>
								<td data-label="Qty (1000pcs)">Rp. 355 ,-</td>
								<td data-label="Qty (> 1000pcs)">Call Us</td>
							</tr>
							<tr>
								<td data-label="Product">Pin 44 Putih H1</td>
								<td data-label="Qty (1000pcs)">Rp. 395 ,-</td>
								<td data-label="Qty (> 1000pcs)">Call Us</td>
							</tr>
							<tr>
								<td data-label="Product">Pin 58 Putih</td>
								<td data-label="Qty (1000pcs)">Rp. 450 ,-</td>
								<td data-label="Qty (> 1000pcs)">Call Us</td>
							</tr>
							<tr>
								<td data-label="Product">Pin 58 Putih H1</td>
								<td data-label="Qty (1000pcs)">Rp. 495 ,-</td>
								<td data-label="Qty (> 1000pcs)">Call Us</td>
							</tr>
							<tr>
								<td data-label="Product">Pin 75</td>
								<td data-label="Qty (1000pcs)">Rp. 800 ,-</td>
								<td data-label="Qty (> 1000pcs)">Call Us</td>
							</tr>
							<tr>
								<td data-label="Product">Pin 90</td>
								<td data-label="Qty (1000pcs)">Rp. 1.700 ,-</td>
								<td data-label="Qty (> 1000pcs)">Call Us</td>
							</tr>
						</tbody>
					</table>
					
				</div>
				<div class="col-6">

					<table>
						<thead>
							<tr>
								<th class="big">Product</th>
								<th colspan="2" class="big">Quantity</th>
							</tr>
							<tr>			
								<th>1. Gantungan Kunci</th>
								<th>1000 pcs</th>
								<th>> 1000 pcs</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td data-label="Product">Ganci 44 Polos</td>
								<td data-label="Qty (1000pcs)">Rp. 490 ,-</td>
								<td data-label="Qty (> 1000pcs)">Call Us</td>
							</tr>
							<tr>
								<td data-label="Product">Ganci 58 Polos</td>
								<td data-label="Qty (1000pcs)">Rp. 590 ,-</td>
								<td data-label="Qty (> 1000pcs)">Call Us</td>
							</tr>
							<tr>
								<td data-label="Product">Ganci 44 Botol</td>
								<td data-label="Qty (1000pcs)">Rp. 600 ,-</td>
								<td data-label="Qty (> 1000pcs)">Call Us</td>
							</tr>
							<tr>
								<td data-label="Product">Ganci 58 Botol</td>
								<td data-label="Qty (1000pcs)">Rp. 695 ,-</td>
								<td data-label="Qty (> 1000pcs)">Call Us</td>
							</tr>
							<tr>
								<td data-label="Product">Ganci 45 Hitam</td>
								<td data-label="Qty (1000pcs)">Rp. 600 ,-</td>
								<td data-label="Qty (> 1000pcs)">Call Us</td>
							</tr>
							<tr>
								<td data-label="Product">Ganci 45 Putih</td>
								<td data-label="Qty (1000pcs)">Rp. 650 ,-</td>
								<td data-label="Qty (> 1000pcs)">Call Us</td>
							</tr>
							<tr>
								<td data-label="Product">Ganci 44 Cermin</td>
								<td data-label="Qty (1000pcs)">Rp. 950 ,-</td>
								<td data-label="Qty (> 1000pcs)">Call Us</td>
							</tr>
							<tr>
								<td data-label="Product">Ganci 58 Cermin</td>
								<td data-label="Qty (1000pcs)">Rp. 1100 ,-</td>
								<td data-label="Qty (> 1000pcs)">Call Us</td>
							</tr>
							<tr>
								<td data-label="Product">Ganci 44 Boneka</td>
								<td data-label="Qty (1000pcs)">Rp. 1350 ,-</td>
								<td data-label="Qty (> 1000pcs)">Call Us</td>
							</tr>
							<tr>
								<td data-label="Product">Ganci 58 Boneka</td>
								<td data-label="Qty (1000pcs)">Rp. 1550 ,-</td>
								<td data-label="Qty (> 1000pcs)">Call Us</td>
							</tr>
						</tbody>
					</table>
					
				</div>
			</div>
		</div>
	</div>
</section>

{% include footer.html %}