---
layout: default
permalink: /shop/mug/
---

{% include header.html %}

<section class="section-shop">
	<div class="container">
		<h1>mug</h1>

		<div class="row">
			<div class="col-lg-2 col-sm-6">
				<a href="#" class="item">
					<div class="thumb">
						<img src="assets/img/mug/shop.jpg" alt="">
						<span class="cat">mug</span>
						<div class="overlay"></div>
					</div>
					<div class="name">Mug Kaki</div>
					<small class="mb-10">Rp. 8250,-</small>
				</a>
			</div>
			<div class="col-lg-2 col-sm-6">
				<a href="#" class="item">
					<div class="thumb">
						<img src="assets/img/mug/shop.jpg" alt="">
						<span class="cat">mug</span>
						<div class="overlay"></div>
					</div>
					<div class="name">Mug Kaki Pendek</div>
					<small class="mb-10">Rp. 7500,-</small>
				</a>
			</div>
			<div class="col-lg-2 col-sm-6">
				<a href="#" class="item">
					<div class="thumb">
						<img src="assets/img/mug/shop.jpg" alt="">
						<span class="cat">mug</span>
						<div class="overlay"></div>
					</div>
					<div class="name">Mug Dalam Warna</div>
					<small class="mb-10">Rp. 9000,-</small>
				</a>
			</div>
			<div class="col-lg-2 col-sm-6">
				<a href="#" class="item">
					<div class="thumb">
						<img src="assets/img/mug/shop.jpg" alt="">
						<span class="cat">mug</span>
						<div class="overlay"></div>
					</div>
					<div class="name">Mug Jendela</div>
					<small class="mb-10">Rp. 11500,-</small>
				</a>
			</div>
			<div class="col-lg-2 col-sm-6">
				<a href="#" class="item">
					<div class="thumb">
						<img src="assets/img/mug/shop.jpg" alt="">
						<span class="cat">mug</span>
						<div class="overlay"></div>
					</div>
					<div class="name">Mug Impor Mercy</div>
					<small class="mb-10">Rp. 9000,-</small>
				</a>
			</div>
			<div class="col-lg-2 col-sm-6">
				<a href="#" class="item">
					<div class="thumb">
						<img src="assets/img/mug/shop.jpg" alt="">
						<span class="cat">mug</span>
						<div class="overlay"></div>
					</div>
					<div class="name">Mug Impor DP</div>
					<small class="mb-10">Rp. 9250,-</small>
				</a>
			</div>
			<div class="col-lg-2 col-sm-6">
				<a href="#" class="item">
					<div class="thumb">
						<img src="assets/img/mug/shop.jpg" alt="">
						<span class="cat">mug</span>
						<div class="overlay"></div>
					</div>
					<div class="name">Mug Impor Porcelein</div>
					<small class="mb-10">Rp. 10000,-</small>
				</a>
			</div>
			<div class="col-lg-2 col-sm-6">
				<a href="#" class="item">
					<div class="thumb">
						<img src="assets/img/mug/shop.jpg" alt="">
						<span class="cat">mug</span>
						<div class="overlay"></div>
					</div>
					<div class="name">Mug Baby</div>
					<small class="mb-10">Rp. 6500,-</small>
				</a>
			</div>
			<div class="col-lg-2 col-sm-6">
				<a href="#" class="item">
					<div class="thumb">
						<img src="assets/img/mug/shop.jpg" alt="">
						<span class="cat">mug</span>
						<div class="overlay"></div>
					</div>
					<div class="name">Mug Baby Doff</div>
					<small class="mb-10">Rp. 6250,-</small>
				</a>
			</div>
			<div class="col-lg-2 col-sm-6">
				<a href="#" class="item">
					<div class="thumb">
						<img src="assets/img/mug/shop.jpg" alt="">
						<span class="cat">mug</span>
						<div class="overlay"></div>
					</div>
					<div class="name">Mug Sendok</div>
					<small class="mb-10">Rp. 17500,-</small>
				</a>
			</div>
		</div>
	</div>

	<div class="section-alt">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<h3>Daftar Harga mug</h3>

					<table>
						<thead>
							<tr>
								<th rowspan="2" class="big">Product</th>
								<th colspan="2" class="big">Quantity</th>
							</tr>
							<tr>			
								<th>200 pcs</th>
								<th>> 1000 pcs</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td data-label="Product">Mug kaki</td>
								<td data-label="Qty (200pcs)">Rp. 8250 ,-</td>
								<td data-label="Qty (> 1000pcs)">Call Us</td>
							</tr>
							<tr>
								<td data-label="Product">Mug kaki Pendek</td>
								<td data-label="Qty (200pcs)">Rp. 7500 ,-</td>
								<td data-label="Qty (> 1000pcs)">Call Us</td>
							</tr>
							<tr>
								<td data-label="Product">Mug Dalam warna</td>
								<td data-label="Qty (200pcs)">Rp. 9000 ,-</td>
								<td data-label="Qty (> 1000pcs)">Call Us</td>
							</tr>
							<tr>
								<td data-label="Product">Mug Jendela</td>
								<td data-label="Qty (200pcs)">Rp. 11500 ,-</td>
								<td data-label="Qty (> 1000pcs)">Call Us</td>
							</tr>
							<tr>
								<td data-label="Product">Mug Love</td>
								<td data-label="Qty (200pcs)">Rp. 8500 ,-</td>
								<td data-label="Qty (> 1000pcs)">Call Us</td>
							</tr>
							<tr>
								<td data-label="Product">Mug Love Jendela</td>
								<td data-label="Qty (200pcs)">Rp. 12000 ,-</td>
								<td data-label="Qty (> 1000pcs)">Call Us</td>
							</tr>
							<tr>
								<td data-label="Product">Mug Impor Mercy</td>
								<td data-label="Qty (200pcs)">Rp. 9000 ,-</td>
								<td data-label="Qty (> 1000pcs)">Call Us</td>
							</tr>
							<tr>
								<td data-label="Product">Mug Impor DP</td>
								<td data-label="Qty (200pcs)">Rp. 9250 ,-</td>
								<td data-label="Qty (> 1000pcs)">Call Us</td>
							</tr>
							<tr>
								<td data-label="Product">Mug Impor Porcelein</td>
								<td data-label="Qty (200pcs)">Rp. 10000 ,-</td>
								<td data-label="Qty (> 1000pcs)">Call Us</td>
							</tr>
							<tr>
								<td data-label="Product">Mug Baby</td>
								<td data-label="Qty (200pcs)">Rp. 6500 ,-</td>
								<td data-label="Qty (> 1000pcs)">Call Us</td>
							</tr>
							<tr>
								<td data-label="Product">Mug Baby Doff</td>
								<td data-label="Qty (200pcs)">Rp. 6250 ,-</td>
								<td data-label="Qty (> 1000pcs)">Call Us</td>
							</tr>
							<tr>
								<td data-label="Product">Mug Sendok</td>
								<td data-label="Qty (200pcs)">Rp. 17500 ,-</td>
								<td data-label="Qty (> 1000pcs)">Call Us</td>
							</tr>
						</tbody>
					</table>
					
				</div>
			</div>
		</div>
	</div>
</section>

{% include footer.html %}