---
layout: default
permalink: shop/
---

{% include header.html %}
	
<section class="section-shop">
	<div class="container">
		<h1>shop</h1>

		<div class="row no-gutters shop-wrap">
			<div class="col-lg-2 shop-unit">
				<h2>PIN GANCI</h2>
				<div class="accent">
					<span class="top"></span>
					<a href="shop/pin-ganci/" class="bottom">
						show all
					</a>
				</div>
				<div class="thumb-overlay"></div>
			</div>
			<div class="col-12 shop-label">
				<h5>PIN Ganci</h5>
				<a href="shop/pin-ganci/" class="btn btn-link">Show All</a>
			</div>
			<div class="col-lg-10 col-md-12 col-sm-12 shop-items">
				<div class="row">
					<div class="col-lg-3 col-sm-6 item-unit">
						<a href="#" class="item">
							<div class="thumb">
								<img src="assets/img/pin_ganci/shop.jpg" alt="">
								<span class="cat">Pin</span>
								<div class="overlay"></div>
							</div>
							<div class="name">Plastik 25</div>
							<small>Rp. 50,-</small>
						</a>
					</div>
					<div class="col-lg-3 col-sm-6 item-unit">
						<a href="#" class="item">
							<div class="thumb">
								<img src="assets/img/pin_ganci/shop.jpg" alt="">
								<span class="cat">Pin</span>
								<div class="overlay"></div>
							</div>
							<div class="name">Plastik 32</div>
							<small>Rp. 65,-</small>
						</a>
					</div>
					<div class="col-lg-3 col-sm-6 item-unit">
						<a href="#" class="item">
							<div class="thumb">
								<img src="assets/img/pin_ganci/shop.jpg" alt="">
								<span class="cat">Ganci</span>
								<div class="overlay"></div>
							</div>
							<div class="name">Plastik 44 Putih PP</div>
							<small>Rp. 130,-</small>
						</a>
					</div>
					<div class="col-lg-3 col-sm-6 item-unit">
						<a href="#" class="item">
							<div class="thumb">
								<img src="assets/img/pin_ganci/shop.jpg" alt="">
								<span class="cat">Ganci</span>
								<div class="overlay"></div>
							</div>
							<div class="name">Plastik 44 Putih HI</div>
							<small>Rp. 150,-</small>
						</a>
					</div>
				</div>
			</div>
		</div>

		<div class="row no-gutters shop-wrap">
			<div class="col-lg-2 shop-unit">
				<h2>MUG</h2>
				<div class="accent">
					<span class="top"></span>
					<a href="shop/mug/" class="bottom">
						show all
					</a>
				</div>
				<div class="thumb-overlay"></div>
			</div>
			<div class="col-12 shop-label">
				<h5>Mug</h5>
				<a href="shop/mug/" class="btn btn-link">Show All</a>
			</div>
			<div class="col-lg-10 col-md-12 col-sm-12 shop-items">
				<div class="row">
					<div class="col-lg-3 col-sm-6 item-unit">
						<a href="#" class="item">
							<div class="thumb">
								<img src="assets/img/pin_ganci/shop.jpg" alt="">
								<span class="cat">mug</span>
								<div class="overlay"></div>
							</div>
							<div class="name">Mug Kaki</div>
							<small>Rp. 8250,-</small>
						</a>
					</div>
					<div class="col-lg-3 col-sm-6 item-unit">
						<a href="#" class="item">
							<div class="thumb">
								<img src="assets/img/pin_ganci/shop.jpg" alt="">
								<span class="cat">mug</span>
								<div class="overlay"></div>
							</div>
							<div class="name">Mug Kaki Pendek</div>
							<small>Rp. 7500,-</small>
						</a>
					</div>
					<div class="col-lg-3 col-sm-6 item-unit">
						<a href="#" class="item">
							<div class="thumb">
								<img src="assets/img/pin_ganci/shop.jpg" alt="">
								<span class="cat">Pin</span>
								<div class="overlay"></div>
							</div>
							<div class="name">Mug Dalam Warna</div>
							<small>Rp. 9000,-</small>
						</a>
					</div>
					<div class="col-lg-3 col-sm-6 item-unit">
						<a href="#" class="item">
							<div class="thumb">
								<img src="assets/img/pin_ganci/shop.jpg" alt="">
								<span class="cat">Pin</span>
								<div class="overlay"></div>
							</div>
							<div class="name">Mug Jendela</div>
							<small>Rp. 11500,-</small>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

{% include footer.html %}
