---
layout: default
---

<section class="home-hero">
	{% include header.html %}

	<div class="container">
		<div class="text-hero">
			<h1>Produsen souvenir and merchandise.</h1>
			<a href="http://whatsapp.adiradjapin.com" class="btn btn-icon"><i class="icon-whatsapp"></i> Order Now</a>
			<a href="{{ "/shop/" | relative_url }}" class="btn btn-bg-red">shop the product &rsaquo;</a>
		</div>
	</div>

</section>

<section class="home-featured section-shop no-p">
	
	<div class="container">
		<div class="section-title">
			<h3>Products</h3>
			<span class="devider"></span>
			<a href="{{ "/shop/" | relative_url }}" class="caps">see all &rsaquo;</a>
		</div>
		<div class="row">											
			<div class="col-lg-3 col-sm-6">
				<a href="#" class="item">
					<div class="thumb">
						<img src="{{ "/assets/img/pin_ganci/PIN_palastik_25.jpg" | relative_url }}" alt="">
						<span class="cat">Pin</span>
						<div class="overlay"></div>
					</div>
					<div class="name">Plastik 25</div>
					<small class="mb-10">Rp. 50,-</small>
				</a>
			</div>
			<div class="col-lg-3 col-sm-6">
				<a href="#" class="item">
					<div class="thumb">
						<img src="{{ "/assets/img/pin_ganci/PIN_palastik_32.jpg" | relative_url }}" alt="">
						<span class="cat">Pin</span>
						<div class="overlay"></div>
					</div>
					<div class="name">Plastik 32</div>
					<small class="mb-10">Rp. 65,-</small>
				</a>
			</div>
			<div class="col-lg-3 col-sm-6">
				<a href="#" class="item">
					<div class="thumb">
						<img src="{{ "/assets/img/pin_ganci/shop.jpg" | relative_url }}" alt="">
						<span class="cat">Ganci</span>
						<div class="overlay"></div>
					</div>
					<div class="name">Plastik 58 Putih PP</div>
					<small class="mb-10">Rp. 190,-</small>
				</a>
			</div>
			<div class="col-lg-3 col-sm-6">
				<a href="#" class="item">
					<div class="thumb">
						<img src="{{ "/assets/img/pin_ganci/shop.jpg" | relative_url }}" alt="">
						<span class="cat">Ganci</span>
						<div class="overlay"></div>
					</div>
					<div class="name">Plastik 58 Putih HI</div>
					<small class="mb-10">Rp. 200,-</small>
				</a>
			</div>


			<div class="col-lg-3 col-sm-6">
				<a href="#" class="item">
					<div class="thumb">
						<img src="{{ "/assets/img/mug/shop.jpg" | relative_url }}" alt="">
						<span class="cat">mug</span>
						<div class="overlay"></div>
					</div>
					<div class="name">Mug Kaki</div>
					<small class="mb-10">Rp. 8350,-</small>
				</a>
			</div>
			<div class="col-lg-3 col-sm-6">
				<a href="#" class="item">
					<div class="thumb">
						<img src="{{ "/assets/img/mug/shop.jpg" | relative_url }}" alt="">
						<span class="cat">mug</span>
						<div class="overlay"></div>
					</div>
					<div class="name">Mug Kaki Pendek</div>
					<small class="mb-10">Rp. 7500,-</small>
				</a>
			</div>
			<div class="col-lg-3 col-sm-6">
				<a href="#" class="item">
					<div class="thumb">
						<img src="{{ "/assets/img/mug/shop.jpg" | relative_url }}" alt="">
						<span class="cat">mug</span>
						<div class="overlay"></div>
					</div>
					<div class="name">Mug Dalam Warna</div>
					<small class="mb-10">Rp. 9000,-</small>
				</a>
			</div>
			<div class="col-lg-3 col-sm-6">
				<a href="#" class="item">
					<div class="thumb">
						<img src="{{ "/assets/img/mug/shop.jpg" | relative_url }}" alt="">
						<span class="cat">mug</span>
						<div class="overlay"></div>
					</div>
					<div class="name">Mug Jendela</div>
					<small class="mb-10">Rp. 11500,-</small>
				</a>
			</div>
		</div>
		<div class="cta">
			<a href="{{ "/shop/" | relative_url }}" class="btn btn-large btn-secondary">shop the product &rsaquo;</a>
		</div>
	</div>

</section>

<section class="home-about">
	
	<div class="container">
		<div class="bg-about">
			<div class="text-pad">
				<h1 class="no-m">About AdiRadjaPin</h1>
				<p>Kami adalah produsen souvenir dan merchandise, kami menawarkan harga yang terjangkau dengan kualitas terbaik.</p>
				<a href="{{ "/about/" | relative_url }}" class="btn btn-white-outline">Read Our Story &rsaquo;</a>
			</div>
		</div>
	</div>

</section>

<section class="home-newsletter">
	
	<div class="container">
		<svg class="icon-stamp">
			{% include icons/logo_adiradjapin_trim.svg %}
		</svg>
		<ul id="instafeed" class="clearfix unstyled">
			<li class="default">
				<a href="https://www.instagram.com/adiradjapin/" target="_blank" title="Follow adiradjapin">
					<img src="{{ "/assets/img/insta-promo.jpg" | relative_url }}" alt="">
				</a>
			</li>
		</ul>
	</div>

</section>

{% include footer.html %}